.informationSection {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgba(247, 247, 247, 0.8);
    padding: 2rem;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.inView {
    opacity: 1;
    transform: translateY(0);
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    position: relative;
    width: 70%;
    padding-bottom: 98.4375%; /* 2.5 times the original height (39.375% * 2.5) */
    border-radius: 10px;
    overflow: hidden;
}

.textContainer {
    flex: 1;
    padding-left: 2rem;
}

.heading {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin-bottom: 1rem;
}

.paragraph {
    font-size: clamp(0.9rem, 2vw, 1.25rem);
    line-height: 1.6;
}

@media (max-width: 1024px) {
    .informationSection {
        flex-direction: column;
        padding: 1.5rem;
    }

    .imageContainer,
    .textContainer {
        width: 100%;
    }

    .imageWrapper {
        width: 50%;
        height: 70%;
        padding-bottom: 90%; 
        margin: 0 auto 1.5rem;
    }

    .textContainer {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .informationSection {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .informationSection {
        padding: 0.5rem;
    }

    .imageWrapper {
        width: 70%;
        padding-bottom: 80%; 
    }

    .heading {
        font-size: clamp(1.3rem, 4vw, 1.8rem);
    }

    .paragraph {
        font-size: clamp(0.8rem, 2.5vw, 1rem);
        line-height: 1.4;
    }
}
