@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.missionSection {
  padding: 2rem;
  background-color: #f3f4f6;
  width: 95%;
  margin: 0;
  animation: slideIn 0.8s ease-out;
}

.missionHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.missionParagraph {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
